
body {
    background-color: #F8F6F4 !important;
}

/* sidebar */
.sidebar {
    position: fixed;
    height: 100vh;
    border-top-right-radius: 75px !important;
    background-color: #E5E6E7 !important;
}

.my-3 {
    margin: 50px 0 !important;
}

.mt-1 {
    margin-top: 100px !important;
}

.mt-2 {
    margin-top: 30px !important;
}

.custom-div {
    background-color: #617A55;
    height: 131px;
    margin: 0;
    padding: 0;
}

.sidebar {
    padding: 0 !important;
}

.nav-link {
    text-align: center !important;
    padding: 0 !important;
    
}

.logo-sidebar {
    width: 90px;
    height: auto;
    margin-top: 42px;
    margin-left: 95px;
}

.active {
    height: 50px !important;
    color: #313131 !important;
    background-color: #F8F6F4 !important;
    border-radius: 65px 0 0 65px !important;
    text-align: center !important;
    margin-left: 40px !important;
    padding-right: 40px !important;
}

.iconUser-container {
    height: 100%;
}

.userDetails {
    color: #FFFFFF !important;
}

/* content */

.main-content {

    margin-left: 280px;
}

.change{
    width: 319px;
    height: 44px;
    background-color: #617A55;
    border-radius: 15px;
    font-weight: 650;
    font-size: 35px;
    padding-bottom: 7px;
    
    color: #FFFFFF;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.main-content{
    padding:120px 90px 0 150px;    
}

.email{
    margin-top: 110px;
}

.change{
    margin-top: 55px;
}

.accnotice{
    margin-top: 118px;

}

.spann{
    width: 1176px;
    height: 223px;
    background-color: #f0f0f0;
    border: 1px solid #517A55;
}
.namee {
    display: flex;
    align-items: center;
}

.link-underline-opacity-75-hover {
    color: gray;
    margin-left: 500px;
}
