body {
    background-color: #F8F6F4 !important;
}

/* sidebar */
.sidebar {
    position: fixed;
    height: 100vh;
    border-top-right-radius: 75px !important;
    background-color: #E5E6E7 !important;
}

.my-3 {
    margin: 50px 0 !important;
}

.mt-1 {
    margin-top: 100px !important;
}

.mt-2 {
    margin-top: 30px !important;
}

.custom-div {
    background-color: #617A55;
    height: 131px;
    margin: 0;
    padding: 0;
}

.sidebar {
    padding: 0 !important;
}

.nav-link {
    text-align: center !important;
    padding: 0 !important;
    
}

.logo-sidebar {
    width: 90px;
    height: auto;
    margin-top: 42px;
    margin-left: 95px;
}

.active {
    height: 50px !important;
    color: #313131 !important;
    background-color: #F8F6F4 !important;
    border-radius: 65px 0 0 65px !important;
    text-align: center !important;
    margin-left: 40px !important;
    padding-right: 40px !important;
}

.iconUser-container {
    height: 100%;
}

.userDetails {
    color: #FFFFFF !important;
}

/* main */

.main{
    display: flex;
    align-items:center;
    position:absolute;
    height: 60%;
    width: 40%;
    margin-left: 40%;
    margin-top: 6%;
    background-color: #F0F0F0;
    border-radius: 15px;
    
}
.input{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#emaill, #oldpass, #newpass, #confirmpass {
    margin-bottom: 20px;
    width: 100%;
}
h2{
    margin-bottom: 20%;
    margin-top: -29%;
}
h5{
    margin-bottom: 15%;
}
.btn {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); 
}