
body {
    background-color: #F8F6F4 !important;
    overflow: hidden;
}

/* sidebar */
.sidebar {
    height: 100vh;
    border-top-right-radius: 75px !important;
    background-color: #E5E6E7 !important;
    position: fixed;
}

.my-3 {
    margin: 50px 0 !important;
}

.mt-1 {
    margin-top: 100px !important;
}

.mt-2 {
    margin-top: 30px !important;
}

.mt-3 {
    margin-top: 10px !important;
}

.custom-div {
    background-color: #617A55;
    height: 131px;
    margin: 0;
    padding: 0;
}

.sidebar {
    padding: 0 !important;
}

.nav-link {
    text-align: center !important;
    padding: 0 !important;
    
}

.logo-sidebar {
    width: 90px;
    height: auto;
    margin-top: 42px;
    margin-left: 95px;
}

.active {
    height: 50px !important;
    color: #313131 !important;
    background-color: #F8F6F4 !important;
    border-radius: 65px 0 0 65px !important;
    text-align: center !important;
    margin-left: 40px !important;
    padding-right: 40px !important;
}

.iconUser-container {
    height: 100%;
}

.userDetails {
    color: #FFFFFF !important;
}

/* content starts here */

.content{
    position: absolute;
    justify-content: center;
    margin-top: 3%;
    margin-left: 18%;
    padding: 0px;
}
.content div{
    margin-left: 20px;
    padding: 0px;
    border-radius: 50px;
    margin-bottom: 10px;
}
.job-openings-container {
    margin-left: 0 !important;
}

.job-openings-container div{
    margin: 0;
}
.bg-success{
    width: 260px;
    height: 192px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.applicants-overview {
    margin: 0 !important;
    font-size: 50px;
}

.recent-applications{
    width: 820px;
    border: #617A55 solid;
    background-color: none !important;
    overflow: hidden;
    padding: 10px !important;
}
.recent-applications h5{
    color: #617A55;
}

tr {
    border-bottom: 1px solid black;
}

tbody tr:last-child {
    border: none;
}

td {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 500px;
}

.job-opening{
    height: 400px;
    margin-top: -205px;
    border: #617A55 solid;
    width: 250px;
}
.job-opening p{
    /* margin-bottom: 70px !important; */
    margin: 0 auto 5px auto;
    color: #617A55;
    font-weight: bold;
    text-align: center;
    border: #617A55 solid;

}

.job-openings-overview {
    height: 60px;
    /* border: 1px solid black; */
    font-size: 40px;
    /* color:  #617A55; */
}

.process{
    margin-left: 0px !important;
    justify-content: center;
}
.process p{
    margin-top: 10px;
    width: 200px;
    font-weight: bold;
    color: #617A55;


}
/* Donut Chart Starts Here */
.donutChart{
    margin-left: 77%;
    margin-top: 35%;
}
/* Donut Chart Ends Here */

/* Bar Graph Starts Here */
.barGraph{
    margin-top: 35%;
    margin-left: 22%;
}
.chart-container{
    width: 770px;
    height: 100px;
}
/* Bar Graph Ends Here */